{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.0",
    "title": "Verify Africa Public API",
    "description": "Identity verification, compliance screening, and government registry checks across Africa.\n\n## Authentication\n\nAll endpoints require a tenant API key as a Bearer token:\n\n```\nAuthorization: Bearer VA-your_api_key_here\n```\n\nDo not send `X-API-KEY`. Tenant context comes from the API key \u2014 no `X-TENANT-ID` header is required.\n\n## API Sections\n\n- **Create** \u2014 Submit one verification via `POST /api/v2/public/verifications/requests/`\n- **Detail** \u2014 Retrieve a verification via `GET /api/v2/public/verifications/requests/{verification_id}/detail/`\n\nPublic create requests always run in **direct (offsite)** mode. Hosted/link (`onsite`) flows are not available on this API.\n\n## Response format\n\nSuccess responses use:\n\n```json\n{ \"success\": true, \"message\": \"...\", \"data\": { ... } }\n```\n\nError responses use:\n\n```json\n{ \"success\": false, \"message\": \"...\", \"errors\": [\"...\"] }\n```\n\n## Base URL\n\n`https://api.verifyafrica.io`\n",
    "contact": {
      "name": "Verify Africa Support",
      "url": "https://verifyafrica.io",
      "email": "support@verifyafrica.io"
    }
  },
  "servers": [
    {
      "url": "https://api.verifyafrica.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "single-identity-verification",
      "description": "Identity Verification \u2014 create verification requests.",
      "x-displayName": "Identity Verification"
    },
    {
      "name": "single-compliance-screening",
      "description": "Compliance & Screening \u2014 create verification requests.",
      "x-displayName": "Compliance & Screening"
    },
    {
      "name": "single-address-verification",
      "description": "Address Verification \u2014 create verification requests.",
      "x-displayName": "Address Verification"
    },
    {
      "name": "single-risk-crypto",
      "description": "Risk & Crypto \u2014 create verification requests.",
      "x-displayName": "Risk & Crypto"
    },
    {
      "name": "single-gov-south-africa",
      "description": "Government registry checks for South Africa.",
      "x-displayName": "\ud83c\uddff\ud83c\udde6 South Africa (1)"
    },
    {
      "name": "single-gov-nigeria",
      "description": "Government registry checks for Nigeria.",
      "x-displayName": "\ud83c\uddf3\ud83c\uddec Nigeria (7)"
    },
    {
      "name": "single-gov-ghana",
      "description": "Government registry checks for Ghana.",
      "x-displayName": "\ud83c\uddec\ud83c\udded Ghana (4)"
    },
    {
      "name": "single-gov-kenya",
      "description": "Government registry checks for Kenya.",
      "x-displayName": "\ud83c\uddf0\ud83c\uddea Kenya (4)"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Verifications",
      "tags": [
        "single-identity-verification",
        "single-compliance-screening",
        "single-address-verification",
        "single-risk-crypto",
        "single-gov-south-africa",
        "single-gov-nigeria",
        "single-gov-ghana",
        "single-gov-kenya"
      ]
    }
  ],
  "paths": {
    "/api/v2/public/verifications/requests/id_document": {
      "post": {
        "summary": "Document Verification",
        "description": "Verify government-issued identity documents such as passports, national IDs, and driver's licenses across 47+ African countries.\n\nPublic API creates always use direct (offsite) mode. Submit the document image in `input_data.document.proof`.",
        "operationId": "single-id_document",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "id_document"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "document"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"NG\", \"ZA\", \"GH\", \"KE\").",
                        "example": "NG"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Customer's first name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Customer's last name for cross-validation."
                      },
                      "document": {
                        "type": "object",
                        "required": [
                          "proof"
                        ],
                        "description": "Document proof and matching options.",
                        "properties": {
                          "proof": {
                            "type": "string",
                            "description": "Front image of the identity document. Base64 data URI or HTTPS URL to jpeg/jpg/png/pdf.",
                            "example": "data:image/jpeg;base64,/9j/4AAQ..."
                          },
                          "backside_proof": {
                            "type": "string",
                            "description": "Back image of the document, same format as proof."
                          },
                          "backside_proof_required": {
                            "type": "boolean",
                            "description": "true to require a back image, false to skip it. Defaults to false.",
                            "default": false
                          },
                          "allow_offline": {
                            "type": "boolean",
                            "description": "Defaults to true.",
                            "default": true
                          },
                          "verification_mode": {
                            "type": "string",
                            "description": "Capture mode hint. Common value: \"any\".",
                            "example": "any"
                          },
                          "fetch_enhanced_data": {
                            "type": "boolean",
                            "description": "true to return enhanced OCR/extracted fields, false to skip. Defaults to true.",
                            "default": true
                          },
                          "name": {
                            "type": "object",
                            "description": "Optional name matching details for the document owner.",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "Expected first name on the document."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Expected last name on the document."
                              },
                              "fuzzy_match": {
                                "type": "boolean",
                                "description": "true to allow fuzzy name matching, false for exact match. Defaults to true.",
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "id_document",
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "country": "NG",
                      "first_name": "John",
                      "last_name": "Doe",
                      "document": {
                        "proof": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "backside_proof_required": false,
                        "allow_offline": true,
                        "verification_mode": "any",
                        "fetch_enhanced_data": true,
                        "name": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "fuzzy_match": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "id_document",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/face_match": {
      "post": {
        "summary": "Facial Screening",
        "description": "Perform real-time liveness detection and face match verification against a reference document.\n\nPublic API creates always use direct (offsite) mode. Submit the face image in `input_data.face.proof` with `input_data.face.verification_mode`.",
        "operationId": "single-face_match",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "face_match"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "required": [
                      "face"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\"). Defaults to \"EN\".",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"NG\", \"ZA\", \"GH\", \"KE\")."
                      },
                      "face": {
                        "type": "object",
                        "required": [
                          "proof",
                          "verification_mode"
                        ],
                        "description": "Face image and verification options.",
                        "properties": {
                          "proof": {
                            "type": "string",
                            "description": "Face image. Base64 data URI or HTTPS URL to jpeg/jpg/png.",
                            "example": "data:image/jpeg;base64,/9j/4AAQ..."
                          },
                          "verification_mode": {
                            "type": "string",
                            "enum": [
                              "any",
                              "image_only",
                              "video_only"
                            ],
                            "description": "Capture type for the submitted face media.",
                            "example": "any"
                          },
                          "allow_offline": {
                            "type": "boolean",
                            "description": "Defaults to false.",
                            "default": false
                          },
                          "check_duplicate_request": {
                            "type": "boolean",
                            "description": "true to flag duplicate faces, false to allow. Defaults to false.",
                            "default": false
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "face_match",
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "face": {
                        "proof": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...",
                        "verification_mode": "any",
                        "allow_offline": false,
                        "check_duplicate_request": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "face_match",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/aml_screening": {
      "post": {
        "summary": "AML Screening",
        "description": "Screen individuals against global sanctions lists, PEP databases, and adverse media sources.\n\nPublic API creates always use direct (offsite) mode. Configure screening categories with `background_checks.filters` and precision with `background_checks.match_score` (0\u2013100).",
        "operationId": "single-aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "aml_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "background_checks"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code for the request context (e.g. \"NG\").",
                        "example": "NG"
                      },
                      "background_checks": {
                        "type": "object",
                        "required": [
                          "name"
                        ],
                        "description": "AML screening configuration.",
                        "properties": {
                          "name": {
                            "type": "object",
                            "required": [
                              "full_name"
                            ],
                            "description": "Subject name details.",
                            "properties": {
                              "full_name": {
                                "type": "string",
                                "description": "Subject's full name.",
                                "example": "John Doe"
                              }
                            }
                          },
                          "filters": {
                            "type": "array",
                            "description": "Screening categories to run.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sanction",
                                "warning",
                                "fitness-probity",
                                "pep",
                                "pep-class-1",
                                "pep-class-2",
                                "pep-class-3",
                                "pep-class-4"
                              ]
                            },
                            "example": [
                              "sanction",
                              "warning",
                              "fitness-probity",
                              "pep",
                              "pep-class-1",
                              "pep-class-2",
                              "pep-class-3",
                              "pep-class-4"
                            ]
                          },
                          "match_score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "default": 100,
                            "description": "Matching threshold from 0 to 100. A score of 100 applies the strictest accuracy.",
                            "example": 100
                          },
                          "dob": {
                            "type": "string",
                            "format": "date",
                            "description": "Subject's date of birth in YYYY-MM-DD format.",
                            "example": "1990-01-15"
                          },
                          "countries": {
                            "type": "array",
                            "description": "ISO alpha-2 country codes to restrict the screening to.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "NG"
                            ]
                          },
                          "rca_search": {
                            "type": "boolean",
                            "description": "Include relative and close associate (RCA) search.",
                            "default": true
                          },
                          "alias_search": {
                            "type": "boolean",
                            "description": "Include alias search.",
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "aml_screening",
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "country": "NG",
                      "background_checks": {
                        "name": {
                          "full_name": "John Doe"
                        },
                        "filters": [
                          "sanction",
                          "warning",
                          "fitness-probity",
                          "pep",
                          "pep-class-1",
                          "pep-class-2",
                          "pep-class-3",
                          "pep-class-4"
                        ],
                        "match_score": 100,
                        "dob": "1990-01-15",
                        "countries": [
                          "NG"
                        ],
                        "rca_search": true,
                        "alias_search": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "aml_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/business_aml_screening": {
      "post": {
        "summary": "Business AML Screening",
        "description": "Screen businesses and corporate entities against global sanctions lists and adverse media.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-business_aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "business_aml_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "company_name": {
                        "type": "string",
                        "description": "Legal name of the business entity."
                      },
                      "country": {
                        "type": "string",
                        "description": "Country of incorporation (ISO 3166-1 alpha-2)."
                      },
                      "rc_number": {
                        "type": "string",
                        "description": "Registration or company number."
                      }
                    },
                    "required": [
                      "company_name"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "business_aml_screening",
                    "input_data": {
                      "company_name": "Acme Corp Ltd",
                      "country": "NG",
                      "rc_number": "RC123456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "business_aml_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/kyb_screening": {
      "post": {
        "summary": "KYB - Know Your Business",
        "description": "Perform full Know Your Business checks including ownership structure, beneficial owners, and registry data.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-kyb_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "kyb_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "rc_number": {
                        "type": "string",
                        "description": "Company registration number."
                      },
                      "company_name": {
                        "type": "string",
                        "description": "Legal name of the business (used for cross-validation)."
                      }
                    },
                    "required": [
                      "rc_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "kyb_screening",
                    "input_data": {
                      "rc_number": "RC789012",
                      "company_name": "TechStart Nigeria Ltd"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "kyb_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/address_verification": {
      "post": {
        "summary": "Address Verification",
        "description": "Verify physical address records against government and utility databases across Africa.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-address_verification",
        "tags": [
          "single-address-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "address_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "Full street address."
                      },
                      "city": {
                        "type": "string",
                        "description": "City or town name."
                      },
                      "state": {
                        "type": "string",
                        "description": "State or province."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      }
                    },
                    "required": [
                      "address",
                      "city",
                      "country"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "address_verification",
                    "input_data": {
                      "address": "15 Adeola Odeku Street",
                      "city": "Lagos",
                      "state": "Lagos",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "address_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/risk_assessment": {
      "post": {
        "summary": "Risk Assessment",
        "description": "Assess the fraud and identity risk score for a given individual based on their identity data.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-risk_assessment",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "risk_assessment"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "id_number": {
                        "type": "string",
                        "description": "The identity number to assess."
                      },
                      "id_type": {
                        "type": "string",
                        "description": "Type of ID (e.g., \"national_id\", \"passport\", \"bvn\")."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      }
                    },
                    "required": [
                      "id_number",
                      "id_type",
                      "country"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "risk_assessment",
                    "input_data": {
                      "id_number": "22222222222",
                      "id_type": "bvn",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "risk_assessment",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/crypto_wallet_screening": {
      "post": {
        "summary": "Crypto Wallet Screening",
        "description": "Screen cryptocurrency wallet addresses for sanctions exposure, darknet activity, and illicit fund sources.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-crypto_wallet_screening",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "crypto_wallet_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "wallet_address": {
                        "type": "string",
                        "description": "The cryptocurrency wallet address to screen."
                      },
                      "blockchain": {
                        "type": "string",
                        "description": "Blockchain network (e.g., \"bitcoin\", \"ethereum\", \"tron\")."
                      }
                    },
                    "required": [
                      "wallet_address",
                      "blockchain"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "crypto_wallet_screening",
                    "input_data": {
                      "wallet_address": "1A1zP1eP5QGefi2DMPTfTL5SLmv7Divf",
                      "blockchain": "bitcoin"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "crypto_wallet_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/za_said_verification": {
      "post": {
        "summary": "South Africa ID Verification",
        "description": "Verify South African ID numbers against the Department of Home Affairs registry.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-za_said_verification",
        "tags": [
          "single-gov-south-africa"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "za_said_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "id_number": {
                        "type": "string",
                        "description": "13-digit South African ID number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Subject's first name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Subject's last name for cross-validation."
                      }
                    },
                    "required": [
                      "id_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "za_said_verification",
                    "input_data": {
                      "id_number": "9001015001087",
                      "first_name": "John",
                      "last_name": "Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "za_said_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_bvn_verification": {
      "post": {
        "summary": "Nigeria BVN Verification",
        "description": "Verify Nigerian Bank Verification Numbers against the NIBSS database.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_bvn_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_bvn_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "bvn": {
                        "type": "string",
                        "description": "11-digit Bank Verification Number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Date of birth (YYYY-MM-DD)."
                      }
                    },
                    "required": [
                      "bvn"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_bvn_verification",
                    "input_data": {
                      "bvn": "22222222222",
                      "first_name": "John",
                      "last_name": "Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_bvn_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_nin_verification": {
      "post": {
        "summary": "Nigeria NIN Verification",
        "description": "Verify Nigerian National Identification Numbers against the NIMC database.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_nin_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_nin_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "nin": {
                        "type": "string",
                        "description": "11-digit National Identification Number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      }
                    },
                    "required": [
                      "nin"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_nin_verification",
                    "input_data": {
                      "nin": "12345678901"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_nin_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_virtual_nin_verification": {
      "post": {
        "summary": "Nigeria Virtual NIN",
        "description": "Verify Nigerian Virtual National Identification Numbers issued by NIMC.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_virtual_nin_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_virtual_nin_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "vnin": {
                        "type": "string",
                        "description": "16-character Virtual NIN."
                      }
                    },
                    "required": [
                      "vnin"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_virtual_nin_verification",
                    "input_data": {
                      "vnin": "AB123456789012CD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_virtual_nin_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_advanced_phone_number_verification": {
      "post": {
        "summary": "Nigeria Phone Verification",
        "description": "Verify Nigerian phone numbers with advanced carrier and identity validation.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_advanced_phone_number_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_advanced_phone_number_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "Nigerian phone number (e.g., 08012345678)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_advanced_phone_number_verification",
                    "input_data": {
                      "phone_number": "08012345678"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_advanced_phone_number_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_phone_number_lookup": {
      "post": {
        "summary": "Nigeria Phone Lookup",
        "description": "Lookup subscriber information associated with a Nigerian phone number.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_phone_number_lookup",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_phone_number_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "Nigerian phone number to look up."
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_phone_number_lookup",
                    "input_data": {
                      "phone_number": "08012345678"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_phone_number_lookup",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_cac_lookup": {
      "post": {
        "summary": "Nigeria CAC Lookup",
        "description": "Lookup company records from the Nigerian Corporate Affairs Commission (CAC).\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_cac_lookup",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_cac_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "rc_number": {
                        "type": "string",
                        "description": "CAC registration number (e.g., RC123456)."
                      },
                      "company_name": {
                        "type": "string",
                        "description": "Company name for cross-validation."
                      }
                    },
                    "required": [
                      "rc_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_cac_lookup",
                    "input_data": {
                      "rc_number": "RC123456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_cac_lookup",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/ng_passport_verification": {
      "post": {
        "summary": "Nigeria Passport Verification",
        "description": "Verify Nigerian international passport numbers against NIS records.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-ng_passport_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_passport_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "passport_number": {
                        "type": "string",
                        "description": "Passport number (e.g., A12345678)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Date of birth (YYYY-MM-DD)."
                      }
                    },
                    "required": [
                      "passport_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "ng_passport_verification",
                    "input_data": {
                      "passport_number": "A12345678"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_passport_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/gh_passport_lookup": {
      "post": {
        "summary": "Ghana Passport Lookup",
        "description": "Lookup Ghanaian international passport records.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-gh_passport_lookup",
        "tags": [
          "single-gov-ghana"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "gh_passport_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "passport_number": {
                        "type": "string",
                        "description": "Ghana passport number (e.g., G1234567)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      }
                    },
                    "required": [
                      "passport_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "gh_passport_lookup",
                    "input_data": {
                      "passport_number": "G1234567"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "gh_passport_lookup",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/gh_voter_card_lookup": {
      "post": {
        "summary": "Ghana Voter Card Lookup",
        "description": "Lookup Ghanaian voter identification card records.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-gh_voter_card_lookup",
        "tags": [
          "single-gov-ghana"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "gh_voter_card_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "voter_id": {
                        "type": "string",
                        "description": "Ghana voter ID number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      }
                    },
                    "required": [
                      "voter_id"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "gh_voter_card_lookup",
                    "input_data": {
                      "voter_id": "1234567890"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "gh_voter_card_lookup",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/gh_ssnit_lookup": {
      "post": {
        "summary": "Ghana SSNIT Lookup",
        "description": "Lookup Ghana Social Security and National Insurance Trust (SSNIT) records.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-gh_ssnit_lookup",
        "tags": [
          "single-gov-ghana"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "gh_ssnit_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "ssnit_number": {
                        "type": "string",
                        "description": "SSNIT number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      }
                    },
                    "required": [
                      "ssnit_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "gh_ssnit_lookup",
                    "input_data": {
                      "ssnit_number": "C123456789012"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request created successfully.",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "gh_ssnit_lookup",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/gh_drivers_license_lookup": {
      "post": {
        "summary": "Ghana Driver's License",
        "description": "Lookup Ghanaian driver's license records from the DVLA registry.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "single-gh_drivers_license_lookup",
        "tags": [
          "single-gov-ghana"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "gh_drivers_license_lookup"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "license_number": {
                        "type": "string",
                        "description": "Driver's license number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      }
                    },
                    "required": [
                      "license_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "verification_type": "gh_drivers_license_lookup",
                    "input_data": {
                      "license_number": "DL123456789"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V2SuccessResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
[...]
