{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.0",
    "title": "Verify Africa Public API",
    "description": "Identity verification, compliance screening, and government registry checks across Africa.\n\n## Authentication\n\nAll endpoints require a tenant API key as a Bearer token:\n\n```\nAuthorization: Bearer VA-your_api_key_here\n```\n\nDo not send `X-API-KEY`. Tenant context comes from the API key \u2014 no `X-TENANT-ID` header is required.\n\n## API Sections\n\nCreate via product-scoped endpoints:\n\n- `POST /api/v2/public/verifications/requests/document_verification/`\n- `POST /api/v2/public/verifications/requests/facial_screening/`\n- `POST /api/v2/public/verifications/requests/address_verification/`\n- `POST /api/v2/public/verifications/requests/aml_screening/`\n- `POST /api/v2/public/verifications/requests/business_aml_screening/`\n- `POST /api/v2/public/verifications/requests/kyb/`\n- `POST /api/v2/public/verifications/requests/crypto_wallet_screening/`\n- `POST /api/v2/public/verifications/requests/risk_assessment/`\n- `POST /api/v2/public/verifications/requests/government_registry_checks/`\n\nRetrieve a verification via `GET /api/v2/public/verifications/requests/?verification_id={verification_id}`.\n\nPublic creates always run in **direct (offsite)** mode and return immediately with `status: PENDING`. Provider work runs asynchronously \u2014 use the `verification.completed` webhook or poll GET `/api/v2/public/verifications/requests/?verification_id=\u2026` for the final result. Hosted/link (`onsite`) flows are not available on this API.\n\n## Webhooks\n\nVerifyAfrica POSTs events to your dashboard-configured webhook URL. See the **Webhooks** section in the API Reference for the full schema \u2014 `WebhookEvent`, `PublicVerificationType`, `VerificationStatus`, and `WebhookPayload` are the source of truth.\n\nPublic creates return `PENDING` immediately; listen for `verification.completed` or `verification.failed` / `verification.failed` or poll GET `/api/v2/public/verifications/requests/?verification_id=\u2026`.\n\n## Response format\n\nSuccess responses use:\n\n```json\n{ \"success\": true, \"message\": \"...\", \"data\": { ... } }\n```\n\nError responses use:\n\n```json\n{ \"success\": false, \"message\": \"...\", \"errors\": [\"...\"] }\n```\n\n## Base URL\n\n`https://api.verifyafrica.io`\n\n## Public response shape\n\nPublic create, GET, and webhook payloads are provider-agnostic:\n\n- Internal provider names are never exposed\n- `response_data` is sanitized (no provider hosted URLs, access tokens, or verification links)\n- Document/face proofs must be submitted as **HTTPS URLs** (base64 data URIs are rejected)\n- Stored and returned `input_data.*.proof` values are the same URLs you sent at create time\n- Top-level `proofs` on GET/webhook echoes those original proof URLs (never provider-hosted assets)\n\nCreates return immediately with `status: PENDING`. Use webhooks (`verification.completed` / `verification.failed`) or GET for the final result.\n",
    "contact": {
      "name": "Verify Africa Support",
      "url": "https://verifyafrica.io",
      "email": "support@verifyafrica.io"
    }
  },
  "servers": [
    {
      "url": "https://api.verifyafrica.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "public-verification-detail",
      "description": "Retrieve an existing verification request by ID.",
      "x-displayName": "Get verification detail"
    },
    {
      "name": "single-identity-verification",
      "description": "Identity Verification \u2014 create verification requests.",
      "x-displayName": "Identity Verification"
    },
    {
      "name": "single-compliance-screening",
      "description": "Compliance & Screening \u2014 create verification requests.",
      "x-displayName": "Compliance & Screening"
    },
    {
      "name": "single-address-verification",
      "description": "Address Verification \u2014 create verification requests.",
      "x-displayName": "Address Verification"
    },
    {
      "name": "single-risk-crypto",
      "description": "Risk & Crypto \u2014 create verification requests.",
      "x-displayName": "Risk & Crypto"
    },
    {
      "name": "single-gov-south-africa",
      "description": "Government registry checks for South Africa.",
      "x-displayName": "South Africa"
    },
    {
      "name": "single-gov-nigeria",
      "description": "Government registry checks for Nigeria.",
      "x-displayName": "Nigeria"
    },
    {
      "name": "single-gov-ghana",
      "description": "Government registry checks for Ghana.",
      "x-displayName": "Ghana"
    },
    {
      "name": "single-gov-kenya",
      "description": "Government registry checks for Kenya.",
      "x-displayName": "Kenya"
    },
    {
      "name": "webhooks",
      "description": "Outbound webhook events VerifyAfrica sends to your endpoint. Schemas below are the source of truth for `event` names, `verification_type` values, and statuses.",
      "x-displayName": "Webhooks"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Verifications",
      "tags": [
        "single-identity-verification",
        "single-compliance-screening",
        "single-address-verification",
        "single-risk-crypto"
      ]
    },
    {
      "name": "Government Registry Checks",
      "tags": [
        "single-gov-south-africa",
        "single-gov-nigeria",
        "single-gov-ghana",
        "single-gov-kenya"
      ]
    },
    {
      "name": "Webhooks",
      "tags": [
        "webhooks"
      ]
    }
  ],
  "paths": {
    "/api/v2/public/verifications/requests/document_verification/": {
      "post": {
        "summary": "Document Verification",
        "description": "Verify government-issued identity documents such as passports, national IDs, and driver's licenses across 47+ African countries.\n\nPublic API creates always use direct (offsite) mode. Submit the document image in `input_data.document.proof`.",
        "operationId": "public-document_verification",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "document"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"NG\", \"ZA\", \"GH\", \"KE\").",
                        "example": "NG"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Customer's first name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Customer's last name for cross-validation."
                      },
                      "document": {
                        "type": "object",
                        "required": [
                          "proof"
                        ],
                        "description": "Document proof and matching options.",
                        "properties": {
                          "proof": {
                            "type": "string",
                            "description": "HTTPS URL to the front of the identity document (`jpeg`/`jpg`/`png`/`pdf`). Base64 data URIs are not accepted on the public API.",
                            "example": "https://cdn.example.com/documents/id-front.jpg"
                          },
                          "backside_proof": {
                            "type": "string",
                            "description": "HTTPS URL to the back of the document, same formats as `proof`. Base64 is not accepted.",
                            "example": "https://cdn.example.com/documents/id-back.jpg"
                          },
                          "backside_proof_required": {
                            "type": "boolean",
                            "description": "true to require a back image, false to skip it. Defaults to false.",
                            "default": false
                          },
                          "verification_mode": {
                            "type": "string",
                            "description": "Capture mode hint. Common value: \"any\".",
                            "example": "any"
                          },
                          "fetch_enhanced_data": {
                            "type": "boolean",
                            "description": "true to return enhanced OCR/extracted fields, false to skip. Defaults to true.",
                            "default": true
                          },
                          "name": {
                            "type": "object",
                            "description": "Optional name matching details for the document owner.",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "Expected first name on the document."
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Expected last name on the document."
                              },
                              "fuzzy_match": {
                                "type": "boolean",
                                "description": "true to allow fuzzy name matching, false for exact match. Defaults to true.",
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "country": "NG",
                      "first_name": "John",
                      "last_name": "Doe",
                      "document": {
                        "proof": "https://cdn.example.com/documents/id-front.jpg",
                        "backside_proof_required": false,
                        "verification_mode": "any",
                        "fetch_enhanced_data": true,
                        "name": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "fuzzy_match": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "id_document",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/document_verification/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/facial_screening/": {
      "post": {
        "summary": "Facial Screening",
        "description": "Perform real-time liveness detection and face match verification against a reference document.\n\nPublic API creates always use direct (offsite) mode. Submit the face image in `input_data.face.proof` with `input_data.face.verification_mode`.",
        "operationId": "public-facial_screening",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "face"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\"). Defaults to \"EN\".",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"NG\", \"ZA\", \"GH\", \"KE\")."
                      },
                      "face": {
                        "type": "object",
                        "required": [
                          "proof",
                          "verification_mode"
                        ],
                        "description": "Face image and verification options.",
                        "properties": {
                          "proof": {
                            "type": "string",
                            "description": "HTTPS URL to the face image (`jpeg`/`jpg`/`png`). Base64 data URIs are not accepted on the public API.",
                            "example": "https://cdn.example.com/faces/selfie.jpg"
                          },
                          "verification_mode": {
                            "type": "string",
                            "enum": [
                              "any",
                              "image_only",
                              "video_only"
                            ],
                            "description": "Capture type for the submitted face media.",
                            "example": "any"
                          },
                          "check_duplicate_request": {
                            "type": "boolean",
                            "description": "true to flag duplicate faces, false to allow. Defaults to false.",
                            "default": false
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "face": {
                        "proof": "https://cdn.example.com/faces/selfie.jpg",
                        "verification_mode": "any",
                        "check_duplicate_request": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "face_match",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/facial_screening/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/address_verification/": {
      "post": {
        "summary": "Address Verification",
        "description": "Verify physical address records against government and utility databases across Africa.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "public-address_verification",
        "tags": [
          "single-address-verification"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "Full street address."
                      },
                      "city": {
                        "type": "string",
                        "description": "City or town name."
                      },
                      "state": {
                        "type": "string",
                        "description": "State or province."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      }
                    },
                    "required": [
                      "address",
                      "city",
                      "country"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "address": "15 Adeola Odeku Street",
                      "city": "Lagos",
                      "state": "Lagos",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "address_verification",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/address_verification/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/aml_screening/": {
      "post": {
        "summary": "AML Screening",
        "description": "Screen individuals against global sanctions lists, PEP databases, and adverse media sources.\n\nPublic API creates always use direct (offsite) mode. Configure screening categories with `background_checks.filters` and precision with `background_checks.match_score` (0\u2013100).",
        "operationId": "public-aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "background_checks"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code for the request context (e.g. \"NG\").",
                        "example": "NG"
                      },
                      "background_checks": {
                        "type": "object",
                        "required": [
                          "name"
                        ],
                        "description": "AML screening configuration.",
                        "properties": {
                          "name": {
                            "type": "object",
                            "required": [
                              "full_name"
                            ],
                            "description": "Subject name details.",
                            "properties": {
                              "full_name": {
                                "type": "string",
                                "description": "Subject's full name.",
                                "example": "John Doe"
                              }
                            }
                          },
                          "filters": {
                            "type": "array",
                            "description": "Screening categories to run.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sanction",
                                "warning",
                                "fitness-probity",
                                "pep",
                                "pep-class-1",
                                "pep-class-2",
                                "pep-class-3",
                                "pep-class-4"
                              ]
                            },
                            "example": [
                              "sanction",
                              "warning",
                              "fitness-probity",
                              "pep",
                              "pep-class-1",
                              "pep-class-2",
                              "pep-class-3",
                              "pep-class-4"
                            ]
                          },
                          "match_score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "default": 100,
                            "description": "Matching threshold from 0 to 100. A score of 100 applies the strictest accuracy.",
                            "example": 100
                          },
                          "dob": {
                            "type": "string",
                            "format": "date",
                            "description": "Subject's date of birth in YYYY-MM-DD format.",
                            "example": "1990-01-15"
                          },
                          "countries": {
                            "type": "array",
                            "description": "ISO alpha-2 country codes to restrict the screening to.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "NG"
                            ]
                          },
                          "rca_search": {
                            "type": "boolean",
                            "description": "Include relative and close associate (RCA) search.",
                            "default": true
                          },
                          "alias_search": {
                            "type": "boolean",
                            "description": "Include alias search.",
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "country": "NG",
                      "background_checks": {
                        "name": {
                          "full_name": "John Doe"
                        },
                        "filters": [
                          "sanction",
                          "warning",
                          "fitness-probity",
                          "pep",
                          "pep-class-1",
                          "pep-class-2",
                          "pep-class-3",
                          "pep-class-4"
                        ],
                        "match_score": 100,
                        "dob": "1990-01-15",
                        "countries": [
                          "NG"
                        ],
                        "rca_search": true,
                        "alias_search": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "aml_screening",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/aml_screening/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/business_aml_screening/": {
      "post": {
        "summary": "Business AML Screening",
        "description": "Screen businesses and corporate entities against global sanctions lists and adverse media.\n\nPublic API creates always use direct (offsite) mode. Configure screening categories with `aml_for_businesses.filters` and precision with `aml_for_businesses.match_score` (0\u2013100).",
        "operationId": "public-business_aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "aml_for_businesses"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code for the request context (e.g. \"NG\").",
                        "example": "NG"
                      },
                      "aml_for_businesses": {
                        "type": "object",
                        "required": [
                          "business_name"
                        ],
                        "description": "Business AML screening configuration.",
                        "properties": {
                          "business_name": {
                            "type": "string",
                            "description": "Full registered name of the business.",
                            "example": "Acme Corp Ltd"
                          },
                          "filters": {
                            "type": "array",
                            "description": "Screening categories to run.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sanction",
                                "warning",
                                "fitness-probity",
                                "pep",
                                "pep-class-1",
                                "pep-class-2",
                                "pep-class-3",
                                "pep-class-4"
                              ]
                            },
                            "example": [
                              "sanction",
                              "warning",
                              "fitness-probity",
                              "pep",
                              "pep-class-1",
                              "pep-class-2",
                              "pep-class-3",
                              "pep-class-4"
                            ]
                          },
                          "match_score": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "default": 100,
                            "description": "Matching threshold from 0 to 100. A score of 100 applies the strictest accuracy.",
                            "example": 100
                          },
                          "business_incorporation_date": {
                            "type": "string",
                            "format": "date",
                            "description": "Incorporation date in YYYY-MM-DD format.",
                            "example": "2010-06-15"
                          },
                          "countries": {
                            "type": "array",
                            "description": "ISO alpha-2 country codes to restrict the screening to.",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "NG"
                            ]
                          },
                          "rca_search": {
                            "type": "boolean",
                            "description": "Include relative and close associate (RCA) search.",
                            "default": true
                          },
                          "alias_search": {
                            "type": "boolean",
                            "description": "Include alias search.",
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "country": "NG",
                      "aml_for_businesses": {
                        "business_name": "Acme Corp Ltd",
                        "business_incorporation_date": "2010-06-15",
                        "filters": [
                          "sanction",
                          "warning",
                          "fitness-probity",
                          "pep",
                          "pep-class-1",
                          "pep-class-2",
                          "pep-class-3",
                          "pep-class-4"
                        ],
                        "match_score": 100,
                        "countries": [
                          "NG"
                        ],
                        "rca_search": true,
                        "alias_search": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "business_aml_screening",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/business_aml_screening/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/kyb/": {
      "post": {
        "summary": "KYB - Know Your Business",
        "description": "Perform full Know Your Business checks including ownership structure, beneficial owners, and registry data.\n\nPublic API creates always use direct (offsite) mode.",
        "operationId": "public-kyb",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "rc_number": {
                        "type": "string",
                        "description": "Company registration number."
                      },
                      "company_name": {
                        "type": "string",
                        "description": "Legal name of the business (used for cross-validation)."
                      }
                    },
                    "required": [
                      "rc_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "rc_number": "RC789012",
                      "company_name": "TechStart Nigeria Ltd"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "kyb_screening",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/kyb/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/crypto_wallet_screening/": {
      "post": {
        "summary": "Crypto Wallet Screening",
        "description": "Screen cryptocurrency wallet addresses for sanctions exposure, darknet activity, and illicit fund sources.\n\nPublic API creates always use direct (offsite) mode. Pass the wallet address as `background_checks.name.full_name` and set `is_crypto_request` to `true`.",
        "operationId": "public-crypto_wallet_screening",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "is_crypto_request",
                      "verification_mode",
                      "background_checks"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "is_crypto_request": {
                        "type": "boolean",
                        "description": "Must be `true` for crypto wallet screening.",
                        "example": true
                      },
                      "verification_mode": {
                        "type": "string",
                        "description": "Verification mode. Use `\"any\"`.",
                        "example": "any"
                      },
                      "background_checks": {
                        "type": "object",
                        "required": [
                          "name"
                        ],
                        "description": "Crypto wallet screening configuration.",
                        "properties": {
                          "name": {
                            "type": "object",
                            "required": [
                              "full_name"
                            ],
                            "description": "Wallet address details.",
                            "properties": {
                              "full_name": {
                                "type": "string",
                                "description": "Cryptocurrency wallet address to screen (EVM, Bitcoin, Tron, or Solana).",
                                "example": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb"
                              },
                              "match_score": {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 100,
                                "default": 100,
                                "description": "Matching threshold from 0 to 100. A score of 100 applies the strictest accuracy.",
                                "example": 100
                              }
                            }
                          },
                          "filters": {
                            "type": "array",
                            "description": "Screening categories to run.",
                            "items": {
                              "type": "string",
                              "enum": [
                                "sanction",
                                "warning",
                                "fitness-probity",
                                "SIP",
                                "SIE",
                                "Insolvency",
                                "pep",
                                "pep-class-1"
                              ]
                            },
                            "example": [
                              "sanction",
                              "warning",
                              "fitness-probity",
                              "SIP",
                              "SIE",
                              "Insolvency",
                              "pep",
                              "pep-class-1"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "is_crypto_request": true,
                      "verification_mode": "any",
                      "background_checks": {
                        "name": {
                          "full_name": "0x742d35Cc6634C0532925a3b844Bc9e7595f0bEb",
                          "match_score": 100
                        },
                        "filters": [
                          "sanction",
                          "warning",
                          "fitness-probity",
                          "SIP",
                          "SIE",
                          "Insolvency",
                          "pep",
                          "pep-class-1"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'crypto_wallet_screening': background_checks",
                      "errors": [
                        "Missing required parameters for 'crypto_wallet_screening': background_checks"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "crypto_wallet_screening",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/crypto_wallet_screening/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/risk_assessment/": {
      "post": {
        "summary": "Risk Assessment",
        "description": "Assess fraud and identity risk for an individual using a configured risk check and phone number.\n\nPublic API creates always use direct (offsite) mode. Provide `risk_assessment.phone_number` and a configured `risk_assessment.risk_reference` (e.g. `3miTFA` for Gaming/Gambling).",
        "operationId": "public-risk_assessment",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input_data"
                ],
                "properties": {
                  "input_data": {
                    "type": "object",
                    "required": [
                      "email",
                      "language",
                      "risk_assessment"
                    ],
                    "properties": {
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Customer's email address."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language code (e.g. \"EN\", \"FR\").",
                        "example": "EN"
                      },
                      "risk_assessment": {
                        "type": "object",
                        "required": [
                          "phone_number",
                          "risk_reference"
                        ],
                        "description": "Risk assessment configuration.",
                        "properties": {
                          "phone_number": {
                            "type": "string",
                            "description": "Phone number to assess, including country dialing code.",
                            "example": "+2348012345678"
                          },
                          "risk_reference": {
                            "type": "string",
                            "description": "Configured risk-assessment check ID (e.g. `3miTFA`, `iSSH1t`, `m8bcQM`).",
                            "example": "3miTFA"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "input_data": {
                      "email": "customer@example.com",
                      "language": "EN",
                      "risk_assessment": {
                        "phone_number": "+2348012345678",
                        "risk_reference": "3miTFA"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'risk_assessment': risk_assessment",
                      "errors": [
                        "Missing required parameters for 'risk_assessment': risk_assessment"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Verification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "success": true,
                      "message": "Verification request accepted. Processing has started; listen for the verification.completed webhook or poll GET /api/v2/public/verifications/requests/?verification_id=\u2026",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "risk_assessment",
                        "status": "PENDING",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {},
                        "proofs": {},
                        "proofs_available": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/risk_assessment/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/": {
      "get": {
        "summary": "Get verification detail",
        "description": "Retrieve a verification request belonging to the API key's tenant.\n\n**Auth:** `Authorization: Bearer <VA-\u2026api-key>` only.\n\n**Query:** `verification_id` (UUID, required).\n\n**Behaviour:** for provider-backed verifications that are no longer pending, refreshes the latest status payload (stored internally) and returns a sanitized public response. `proofs` / `proofs_available` and `input_data.*.proof` reflect the original HTTPS proof URLs from create time \u2014 never provider-hosted assets, access tokens, or base64.\n\n**Output:** verification request fields plus optional proof metadata.",
        "operationId": "public-verification-detail",
        "tags": [
          "public-verification-detail"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "verification_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Verification request ID returned from create."
          }
        ],
        "responses": {
          "200": {
            "description": "Verification request retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Success Response"
                },
                "examples": {
                  "success": {
                    "summary": "Successful detail response",
                    "value": {
                      "success": true,
                      "message": "Verification request retrieved successfully.",
                      "data": {
                        "id": "06a4f688-4de4-70ad-8000-ada533c461f4",
                        "verification_type": "ng_bvn_verification",
                        "status": "SUCCESS",
                        "input_data": {
                          "email": "customer@example.com",
                          "language": "EN",
                          "country": "NG",
                          "document": {
                            "proof": "https://cdn.example.com/documents/id-front.jpg",
                            "verification_mode": "any",
                            "backside_proof_required": "0",
                            "fetch_enhanced_data": "1"
                          }
                        },
                        "response_data": {
                          "event": "verification.accepted",
                          "status": "SUCCESS",
                          "verification_result": {
                            "document": {
                              "document": 1
                            }
                          }
                        },
                        "by_api": true,
                        "api_key_id": "06a4f688-4a96-7027-8000-089b60351c6c",
                        "proofs_available": true,
                        "proofs": {
                          "document": {
                            "proof": "https://cdn.example.com/documents/id-front.jpg"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
                      "message": "An unexpected error occurred.",
                      "errors": [
                        "An unexpected error occurred."
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/v2/public/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/v2/public/verifications/requests/government_registry_checks/za_said_verification": {
      "post": {
        "summary": "South Africa ID Verification",
        "description": "South Africa ID Verification.\n\nCall `POST /api/v2/public/verifications/requests/government_registry_checks/` and set `verification_type` to `za_said_verification`.\n\nPublic creates always use direct (offsite) mode.",
        "operationId": "public-gov-za_said_verification",
        "tags": [
          "single-gov-south-africa"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "verification_type": {
                    "type": "string",
                    "description": "Must match this check.",
                    "enum": [
                      "za_said_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "description": "Input fields for `za_said_verification`.",
                    "properties": {
                      "id_number": {
                        "type": "string"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id_number"
                    ],
                    "additionalProperties": true
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "South Africa ID Verification",
                  "value": {
                    "verification_type": "za_said_verification",
                    "input_data": {
                      "id_number": "9001015001087",
                      "first_name": "John",
                      "last_name": "Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request \u2014 validation failed or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Validation error",
                    "value": {
                      "success": false,
                      "message": "Missing required parameters for 'ng_bvn_verification': bvn",
                      "errors": [
                        "Missing required parameters for 'ng_bvn_verification': bvn"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid Bearer API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Invalid API key",
                    "value": {
                      "success": false,
                      "message": "Invalid API key.",
                      "errors": [
                        "Invalid API key."
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 tenant KYC incomplete, product unavailable, or insufficient wallet balance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "KYC incomplete",
                    "value": {
                      "success": false,
                      "message": "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications.",
                      "errors": [
                        "Tenant KYC is not complete. Please complete KYC before creating team members or performing verifications."
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found \u2014 verification does not exist for this tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Resource not found",
                    "value": {
                      "success": false,
                      "message": "Resource not found.",
                      "errors": [
                        "Resource not found."
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error \u2014 unexpected failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error Response"
                },
                "examples": {
                  "error": {
                    "summary": "Unexpected error",
                    "value": {
                      "success": false,
[...]
