{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Verify Africa API",
    "description": "Identity verification, compliance screening, and government registry checks across Africa.\n\n## Authentication\n\nAll endpoints require an API key passed in the `X-API-KEY` header.\n\n## API Sections\n\n- **Single** — Submit one verification at a time via `POST /api/verifications/requests/`\n- **Bulk** — Submit up to 100 verifications per batch via `POST /api/verifications/bulk/`\n\n## Base URL\n\n`https://api.verifyafrica.io`",
    "contact": {
      "name": "Verify Africa Support",
      "url": "https://verifyafrica.io",
      "email": "support@verifyafrica.io"
    }
  },
  "servers": [
    {
      "url": "https://api.verifyafrica.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "single-identity-verification",
      "description": "Identity Verification — single verification requests.",
      "x-displayName": "Identity Verification"
    },
    {
      "name": "bulk-identity-verification",
      "description": "Identity Verification — bulk verification requests.",
      "x-displayName": "Identity Verification"
    },
    {
      "name": "single-compliance-screening",
      "description": "Compliance & Screening — single verification requests.",
      "x-displayName": "Compliance & Screening"
    },
    {
      "name": "bulk-compliance-screening",
      "description": "Compliance & Screening — bulk verification requests.",
      "x-displayName": "Compliance & Screening"
    },
    {
      "name": "single-address-verification",
      "description": "Address Verification — single verification requests.",
      "x-displayName": "Address Verification"
    },
    {
      "name": "bulk-address-verification",
      "description": "Address Verification — bulk verification requests.",
      "x-displayName": "Address Verification"
    },
    {
      "name": "single-risk-crypto",
      "description": "Risk & Crypto — single verification requests.",
      "x-displayName": "Risk & Crypto"
    },
    {
      "name": "bulk-risk-crypto",
      "description": "Risk & Crypto — bulk verification requests.",
      "x-displayName": "Risk & Crypto"
    },
    {
      "name": "single-gov-south-africa",
      "description": "Government registry checks for South Africa.",
      "x-displayName": "🇿🇦 South Africa (1)"
    },
    {
      "name": "bulk-gov-south-africa",
      "description": "Bulk government registry checks for South Africa.",
      "x-displayName": "🇿🇦 South Africa (1)"
    },
    {
      "name": "single-gov-nigeria",
      "description": "Government registry checks for Nigeria.",
      "x-displayName": "🇳🇬 Nigeria (7)"
    },
    {
      "name": "bulk-gov-nigeria",
      "description": "Bulk government registry checks for Nigeria.",
      "x-displayName": "🇳🇬 Nigeria (7)"
    },
    {
      "name": "single-gov-ghana",
      "description": "Government registry checks for Ghana.",
      "x-displayName": "🇬🇭 Ghana (4)"
    },
    {
      "name": "bulk-gov-ghana",
      "description": "Bulk government registry checks for Ghana.",
      "x-displayName": "🇬🇭 Ghana (4)"
    },
    {
      "name": "single-gov-kenya",
      "description": "Government registry checks for Kenya.",
      "x-displayName": "🇰🇪 Kenya (4)"
    },
    {
      "name": "bulk-gov-kenya",
      "description": "Bulk government registry checks for Kenya.",
      "x-displayName": "🇰🇪 Kenya (4)"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Single",
      "tags": [
        "single-identity-verification",
        "single-compliance-screening",
        "single-address-verification",
        "single-risk-crypto",
        "single-gov-south-africa",
        "single-gov-nigeria",
        "single-gov-ghana",
        "single-gov-kenya"
      ]
    },
    {
      "name": "Bulk",
      "tags": [
        "bulk-identity-verification",
        "bulk-compliance-screening",
        "bulk-address-verification",
        "bulk-risk-crypto",
        "bulk-gov-south-africa",
        "bulk-gov-nigeria",
        "bulk-gov-ghana",
        "bulk-gov-kenya"
      ]
    }
  ],
  "paths": {
    "/api/verifications/requests/id_document": {
      "post": {
        "summary": "Document Verification",
        "description": "Verify government-issued identity documents such as passports, national IDs, and driver's licenses across 47+ African countries.",
        "operationId": "single-id_document",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "id_document"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Customer's email address. Used to send the hosted verification link."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g., \"NG\", \"ZA\", \"GH\", \"KE\")."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language for the hosted verification page (e.g., \"EN\", \"FR\"). Defaults to \"EN\"."
                      },
                      "ttl": {
                        "type": "number",
                        "description": "Link expiry time in minutes. Allowed: 30, 60, 180, 360, 720, 1440, 2880. Defaults to 60."
                      }
                    },
                    "required": [
                      "email"
                    ]
                  },
                  "method_type": {
                    "type": "string",
                    "description": "Verification mode: \"onsite\" for hosted link, \"offsite\" for direct verification.",
                    "enum": [
                      "onsite",
                      "offsite"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "id_document",
                    "method_type": "onsite",
                    "input_data": {
                      "language": "EN",
                      "email": "customer@example.com",
                      "ttl": 60
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "id_document",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/id_document": {
      "post": {
        "summary": "Document Verification",
        "description": "Verify government-issued identity documents such as passports, national IDs, and driver's licenses across 47+ African countries.\n\n**Note:** This verification type requires a hosted page and is **not supported** in bulk mode. Use the Single API instead.",
        "operationId": "bulk-id_document",
        "tags": [
          "bulk-identity-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Document Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "id_document",
                        "input_data": {
                          "language": "EN",
                          "email": "customer@example.com",
                          "ttl": 60
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/face_match": {
      "post": {
        "summary": "Facial Screening",
        "description": "Perform real-time liveness detection and face match verification against a reference document.",
        "operationId": "single-face_match",
        "tags": [
          "single-identity-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "face_match"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Customer's email address. Used to send the hosted verification link."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code (e.g., \"NG\", \"ZA\", \"GH\", \"KE\")."
                      },
                      "language": {
                        "type": "string",
                        "description": "Language for the hosted verification page (e.g., \"EN\", \"FR\"). Defaults to \"EN\"."
                      },
                      "ttl": {
                        "type": "number",
                        "description": "Link expiry time in minutes. Allowed: 30, 60, 180, 360, 720, 1440, 2880. Defaults to 60."
                      }
                    },
                    "required": [
                      "email"
                    ]
                  },
                  "method_type": {
                    "type": "string",
                    "description": "Verification mode: \"onsite\" for hosted link, \"offsite\" for direct verification.",
                    "enum": [
                      "onsite",
                      "offsite"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "face_match",
                    "method_type": "onsite",
                    "input_data": {
                      "language": "EN",
                      "email": "customer@example.com",
                      "ttl": 60
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "face_match",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/face_match": {
      "post": {
        "summary": "Facial Screening",
        "description": "Perform real-time liveness detection and face match verification against a reference document.\n\n**Note:** This verification type requires a hosted page and is **not supported** in bulk mode. Use the Single API instead.",
        "operationId": "bulk-face_match",
        "tags": [
          "bulk-identity-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Facial Screening",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "face_match",
                        "input_data": {
                          "language": "EN",
                          "email": "customer@example.com",
                          "ttl": 60
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/aml_screening": {
      "post": {
        "summary": "AML Screening",
        "description": "Screen individuals against global sanctions lists, PEP databases, and adverse media sources.",
        "operationId": "single-aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "aml_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "description": "Subject's first name."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Subject's last name."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Date of birth in YYYY-MM-DD format."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      },
                      "nationality": {
                        "type": "string",
                        "description": "Subject's nationality."
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "aml_screening",
                    "input_data": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "date_of_birth": "1985-06-15",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "aml_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/aml_screening": {
      "post": {
        "summary": "AML Screening",
        "description": "Screen individuals against global sanctions lists, PEP databases, and adverse media sources.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-aml_screening",
        "tags": [
          "bulk-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with AML Screening",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "aml_screening",
                        "input_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1985-06-15",
                          "country": "NG"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/business_aml_screening": {
      "post": {
        "summary": "Business AML Screening",
        "description": "Screen businesses and corporate entities against global sanctions lists and adverse media.",
        "operationId": "single-business_aml_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "business_aml_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "company_name": {
                        "type": "string",
                        "description": "Legal name of the business entity."
                      },
                      "country": {
                        "type": "string",
                        "description": "Country of incorporation (ISO 3166-1 alpha-2)."
                      },
                      "rc_number": {
                        "type": "string",
                        "description": "Registration or company number."
                      }
                    },
                    "required": [
                      "company_name"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "business_aml_screening",
                    "input_data": {
                      "company_name": "Acme Corp Ltd",
                      "country": "NG",
                      "rc_number": "RC123456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "business_aml_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/business_aml_screening": {
      "post": {
        "summary": "Business AML Screening",
        "description": "Screen businesses and corporate entities against global sanctions lists and adverse media.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-business_aml_screening",
        "tags": [
          "bulk-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Business AML Screening",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "business_aml_screening",
                        "input_data": {
                          "company_name": "Acme Corp Ltd",
                          "country": "NG",
                          "rc_number": "RC123456"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/kyb_screening": {
      "post": {
        "summary": "KYB - Know Your Business",
        "description": "Perform full Know Your Business checks including ownership structure, beneficial owners, and registry data.",
        "operationId": "single-kyb_screening",
        "tags": [
          "single-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "kyb_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "rc_number": {
                        "type": "string",
                        "description": "Company registration number."
                      },
                      "company_name": {
                        "type": "string",
                        "description": "Legal name of the business (used for cross-validation)."
                      }
                    },
                    "required": [
                      "rc_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "kyb_screening",
                    "input_data": {
                      "rc_number": "RC789012",
                      "company_name": "TechStart Nigeria Ltd"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "kyb_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/kyb_screening": {
      "post": {
        "summary": "KYB - Know Your Business",
        "description": "Perform full Know Your Business checks including ownership structure, beneficial owners, and registry data.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-kyb_screening",
        "tags": [
          "bulk-compliance-screening"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with KYB - Know Your Business",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "kyb_screening",
                        "input_data": {
                          "rc_number": "RC789012",
                          "company_name": "TechStart Nigeria Ltd"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/address_verification": {
      "post": {
        "summary": "Address Verification",
        "description": "Verify physical address records against government and utility databases across Africa.",
        "operationId": "single-address_verification",
        "tags": [
          "single-address-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "address_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "Full street address."
                      },
                      "city": {
                        "type": "string",
                        "description": "City or town name."
                      },
                      "state": {
                        "type": "string",
                        "description": "State or province."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      }
                    },
                    "required": [
                      "address",
                      "city",
                      "country"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "address_verification",
                    "input_data": {
                      "address": "15 Adeola Odeku Street",
                      "city": "Lagos",
                      "state": "Lagos",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "address_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/address_verification": {
      "post": {
        "summary": "Address Verification",
        "description": "Verify physical address records against government and utility databases across Africa.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-address_verification",
        "tags": [
          "bulk-address-verification"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Address Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "address_verification",
                        "input_data": {
                          "address": "15 Adeola Odeku Street",
                          "city": "Lagos",
                          "state": "Lagos",
                          "country": "NG"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/risk_assessment": {
      "post": {
        "summary": "Risk Assessment",
        "description": "Assess the fraud and identity risk score for a given individual based on their identity data.",
        "operationId": "single-risk_assessment",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "risk_assessment"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "id_number": {
                        "type": "string",
                        "description": "The identity number to assess."
                      },
                      "id_type": {
                        "type": "string",
                        "description": "Type of ID (e.g., \"national_id\", \"passport\", \"bvn\")."
                      },
                      "country": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 country code."
                      }
                    },
                    "required": [
                      "id_number",
                      "id_type",
                      "country"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "risk_assessment",
                    "input_data": {
                      "id_number": "22222222222",
                      "id_type": "bvn",
                      "country": "NG"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "risk_assessment",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/risk_assessment": {
      "post": {
        "summary": "Risk Assessment",
        "description": "Assess the fraud and identity risk score for a given individual based on their identity data.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-risk_assessment",
        "tags": [
          "bulk-risk-crypto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Risk Assessment",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "risk_assessment",
                        "input_data": {
                          "id_number": "22222222222",
                          "id_type": "bvn",
                          "country": "NG"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/crypto_wallet_screening": {
      "post": {
        "summary": "Crypto Wallet Screening",
        "description": "Screen cryptocurrency wallet addresses for sanctions exposure, darknet activity, and illicit fund sources.",
        "operationId": "single-crypto_wallet_screening",
        "tags": [
          "single-risk-crypto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "crypto_wallet_screening"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "wallet_address": {
                        "type": "string",
                        "description": "The cryptocurrency wallet address to screen."
                      },
                      "blockchain": {
                        "type": "string",
                        "description": "Blockchain network (e.g., \"bitcoin\", \"ethereum\", \"tron\")."
                      }
                    },
                    "required": [
                      "wallet_address",
                      "blockchain"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "crypto_wallet_screening",
                    "input_data": {
                      "wallet_address": "1A1zP1eP5QGefi2DMPTfTL5SLmv7Divf",
                      "blockchain": "bitcoin"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "crypto_wallet_screening",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/crypto_wallet_screening": {
      "post": {
        "summary": "Crypto Wallet Screening",
        "description": "Screen cryptocurrency wallet addresses for sanctions exposure, darknet activity, and illicit fund sources.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-crypto_wallet_screening",
        "tags": [
          "bulk-risk-crypto"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Crypto Wallet Screening",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "crypto_wallet_screening",
                        "input_data": {
                          "wallet_address": "1A1zP1eP5QGefi2DMPTfTL5SLmv7Divf",
                          "blockchain": "bitcoin"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/za_said_verification": {
      "post": {
        "summary": "South Africa ID Verification",
        "description": "Verify South African ID numbers against the Department of Home Affairs registry.",
        "operationId": "single-za_said_verification",
        "tags": [
          "single-gov-south-africa"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "za_said_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "id_number": {
                        "type": "string",
                        "description": "13-digit South African ID number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Subject's first name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Subject's last name for cross-validation."
                      }
                    },
                    "required": [
                      "id_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "za_said_verification",
                    "input_data": {
                      "id_number": "9001015001087",
                      "first_name": "John",
                      "last_name": "Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "za_said_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/za_said_verification": {
      "post": {
        "summary": "South Africa ID Verification",
        "description": "Verify South African ID numbers against the Department of Home Affairs registry.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-za_said_verification",
        "tags": [
          "bulk-gov-south-africa"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with South Africa ID Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "za_said_verification",
                        "input_data": {
                          "id_number": "9001015001087",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/ng_bvn_verification": {
      "post": {
        "summary": "Nigeria BVN Verification",
        "description": "Verify Nigerian Bank Verification Numbers against the NIBSS database.",
        "operationId": "single-ng_bvn_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_bvn_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "bvn": {
                        "type": "string",
                        "description": "11-digit Bank Verification Number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      },
                      "date_of_birth": {
                        "type": "string",
                        "description": "Date of birth (YYYY-MM-DD)."
                      }
                    },
                    "required": [
                      "bvn"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "ng_bvn_verification",
                    "input_data": {
                      "bvn": "22222222222",
                      "first_name": "John",
                      "last_name": "Doe"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_bvn_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/ng_bvn_verification": {
      "post": {
        "summary": "Nigeria BVN Verification",
        "description": "Verify Nigerian Bank Verification Numbers against the NIBSS database.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-ng_bvn_verification",
        "tags": [
          "bulk-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Nigeria BVN Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "ng_bvn_verification",
                        "input_data": {
                          "bvn": "22222222222",
                          "first_name": "John",
                          "last_name": "Doe"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/ng_nin_verification": {
      "post": {
        "summary": "Nigeria NIN Verification",
        "description": "Verify Nigerian National Identification Numbers against the NIMC database.",
        "operationId": "single-ng_nin_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_nin_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "nin": {
                        "type": "string",
                        "description": "11-digit National Identification Number."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      }
                    },
                    "required": [
                      "nin"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "ng_nin_verification",
                    "input_data": {
                      "nin": "12345678901"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_nin_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/ng_nin_verification": {
      "post": {
        "summary": "Nigeria NIN Verification",
        "description": "Verify Nigerian National Identification Numbers against the NIMC database.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-ng_nin_verification",
        "tags": [
          "bulk-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Nigeria NIN Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "ng_nin_verification",
                        "input_data": {
                          "nin": "12345678901"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/ng_virtual_nin_verification": {
      "post": {
        "summary": "Nigeria Virtual NIN",
        "description": "Verify Nigerian Virtual National Identification Numbers issued by NIMC.",
        "operationId": "single-ng_virtual_nin_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_virtual_nin_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "vnin": {
                        "type": "string",
                        "description": "16-character Virtual NIN."
                      }
                    },
                    "required": [
                      "vnin"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "ng_virtual_nin_verification",
                    "input_data": {
                      "vnin": "AB123456789012CD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_virtual_nin_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/ng_virtual_nin_verification": {
      "post": {
        "summary": "Nigeria Virtual NIN",
        "description": "Verify Nigerian Virtual National Identification Numbers issued by NIMC.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-ng_virtual_nin_verification",
        "tags": [
          "bulk-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Nigeria Virtual NIN",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "ng_virtual_nin_verification",
                        "input_data": {
                          "vnin": "AB123456789012CD"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits for batch size"
          },
          "422": {
            "description": "Unprocessable Entity - Batch size exceeds 100 records"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/bulk/"
            }
          }
        }
      }
    },
    "/api/verifications/requests/ng_advanced_phone_number_verification": {
      "post": {
        "summary": "Nigeria Phone Verification",
        "description": "Verify Nigerian phone numbers with advanced carrier and identity validation.",
        "operationId": "single-ng_advanced_phone_number_verification",
        "tags": [
          "single-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_type",
                  "input_data"
                ],
                "properties": {
                  "is_test": {
                    "type": "boolean",
                    "description": "Set to true for sandbox mode. Defaults to false.",
                    "default": false
                  },
                  "verification_type": {
                    "type": "string",
                    "description": "The verification type identifier.",
                    "enum": [
                      "ng_advanced_phone_number_verification"
                    ]
                  },
                  "input_data": {
                    "type": "object",
                    "properties": {
                      "phone_number": {
                        "type": "string",
                        "description": "Nigerian phone number (e.g., 08012345678)."
                      },
                      "first_name": {
                        "type": "string",
                        "description": "First name for cross-validation."
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Last name for cross-validation."
                      }
                    },
                    "required": [
                      "phone_number"
                    ]
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Sample request",
                  "value": {
                    "is_test": false,
                    "verification_type": "ng_advanced_phone_number_verification",
                    "input_data": {
                      "phone_number": "08012345678"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful verification",
                    "value": {
                      "status": "success",
                      "data": {
                        "id": "ver_9gjzgc36t",
                        "verification_type": "ng_advanced_phone_number_verification",
                        "status": "verified",
                        "created_at": "2026-02-09T08:01:42.891Z",
                        "response_data": {
                          "first_name": "John",
                          "last_name": "Doe",
                          "date_of_birth": "1990-01-15",
                          "gender": "Male"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient credits or inactive key"
          },
          "404": {
            "description": "Not Found - Identity record not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": {
              "baseUrl": "https://api.verifyafrica.io/api/verifications/requests/"
            }
          }
        }
      }
    },
    "/api/verifications/bulk/ng_advanced_phone_number_verification": {
      "post": {
        "summary": "Nigeria Phone Verification",
        "description": "Verify Nigerian phone numbers with advanced carrier and identity validation.\n\nSubmit this verification type as part of a bulk batch via `POST /api/verifications/bulk/`. Include up to **100** verification objects per request.",
        "operationId": "bulk-ng_advanced_phone_number_verification",
        "tags": [
          "bulk-gov-nigeria"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkVerificationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Bulk batch with Nigeria Phone Verification",
                  "value": {
                    "is_test": false,
                    "verifications": [
                      {
                        "verification_type": "ng_advanced_phone_number_verification",
                        "input_data": {
                          "phone_number": "08012345678"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch submitted and all results returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkVerificationResponse"
                }
              }
            }
          },
          "207": {
            "description": "Multi-Status - Batch submitted; some records failed"
          },
          "400": {
            "description": "Bad Request - Missing or invalid batch parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
[...]
